/* Basic styling for the website */

body {
    background-color: #f5f5dc;
    font-family: Georgia, 'Times New Roman', serif;
    color: #333333;
    line-height: 1.6;
    padding: 20px;
}

h1, h2, h3 {
    font-weight: bold;
    color: #2c1810;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

h2 {
    font-size: 2em;
    margin: 15px 0;
}

h2:hover {
    font-size: 2em;
    margin: 15px 0;
    color: #8b4513
}

h3 {
    font-size: 1.5em;
    margin: 12px 0;
}

p {
    margin: 15px 0;
}

p:last-child{
    margin: 15px 0;
    font-weight: bold;
}

img {
    height: 250px;
    width: 250px;
    border: 3px solid #8b4513;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #2c1810;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #8b4513;
}

nav a:focus {
    color: #8b4513;
    outline: 3px solid #FFD700
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #d2b48c;
    text-align: center;
    color: #2c1810;
}

.special {
    background-color: #fff8dc;
    padding-top: 15px;
    padding-left: 15px;
    border-left: 2px solid #deb887;
    border-bottom: 2px solid #deb887;
    margin-left: 20px;
}

.highlight {
    background-color: #ffc28d;
    margin-right: 20px;
    border-radius: 10px;
}
